.order-list {
    display: flex;
    flex-direction: column;
    gap: 112px;
}

.order-list {
    width: 100%;
}

.order-list__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: -40px;
}

.order-list__header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #34404a;
}

.order-list__add {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px solid #76a441;
    background: #8ecd4b;
    color: white;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
}

.order-list__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-card {
    height: 62px;
    background: white;
    border: 1px solid #dfe6ec;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.06);
    transition: .2s;
}

.order-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    cursor: pointer;
}

.order-card__title {
    flex: 1;
}

.order-card__title span {
    display: inline;
    font-size: 17px;
    color: #6d7f8d;
    text-decoration: underline;
    text-decoration-color: #cfd6dc;
    text-underline-offset: 3px;
}
.order-card__products {
    width: 160px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.order-card__products-icon {
    width: 28px;
    height: 28px;
    border: 1px solid #d9e0e5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #708090;
    font-size: 14px;
}

.order-card__products-icon img {
    width: 15px;
    height: 15px;
}

.order-card__count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.order-card__count strong {
    font-size: 22px;
    color: #4a5965;
    line-height: 18px;
    font-weight: 500;
}

.order-card__count span {
    font-size: 11px;
    color: #9ca6ad;
}

.order-card__count-text {
    font-size: 11px;
    color: #9ca6ad;
}

.order-card__date {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.order-card__date-small {
    font-size: 10px;
    color: #9fa8ae;
    margin-left: 32px;
}

.order-card__date-big {
    font-size: 13px;
    color: #55626d;
}

.order-card__price {
    width: 140px;
    display: flex;
    flex-direction: column;
}

.order-card__price-usd {
    font-size: 12px;
    color: #97a1a8;
}

.order-card__price-uah {
    font-size: 13px;
    color: #56626b;
}

.order-card__delete {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #98a4ad;
    transition: .2s;
}

.order-card__delete img {
    width: 15px;
    height: 15px;
}

.order-card__delete:hover {
    color: #ff4c4c;
}